body {
    background-color:cornsilk;
}

body img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

hr {
    border-style: dotted;
    width: 90%;
    color: gray;
}

h1, h3 {
    color:darkblue;
}